// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.signup-header{
	text-align:center;
	color:$color-header;
}

.alt-login {
	display:block;
}

.logo {
	margin:0 auto;
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}
	.frm-title{
		text-align:center;
	}	
}

.loginfrm{
	padding:40px;
	box-shadow: $shadow;
}
.create-link{
	margin-top:20px;
	strong{
		color:$color-links;
	}
}

.btn-login{
	width:80%;
	height:auto;
}