// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.signup-header{
	text-align:center;
	color:$color-header;
}

.alt-login{
	display:block;
}